div {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 10px 0;
}

@media screen {
  .container {
    outline: solid 1px #cccccc;
  }
}

a, a:active, a:hover, a:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.personal-details > .name-section {
  display: flex;
  margin-bottom: 10px;
}

.picture-container {
  display: inline-block;
  padding-right: 20px;
}

.picture-container > .img {
  width: 160px;
  height: 160px;
  border: solid 1px #cccccc;
  border-radius: 100%;
  background: url('../images/priya-ranjan-singh-photograph.jpg') -10px -10px;
  background-size: 115%;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personal-details .name {
  font-size: 42px;
}

.personal-details .punchline {
  font-size: 18px;
  color: #397e86;
}

.fa {
  color: #397e86;
}

.header .contact {
  text-align: right;
}

.header .contact > div {
  margin-bottom: 15px;
}

.header .contact .fa {
  display: inline-block;
  width: 12px;
}

.timeline {
  display: flex;
  padding: 20px 40px;
}

.timeline > .column {
  width: 50%;
}

.timeline > .column:first-child {
  margin-right: 60px;
}

.employment {
  margin-bottom: 30px;
  margin-left: 10px;
}

.employment .fa {
  display: inline-block;
  position: absolute;
  margin-left: -20px;
  margin-top: 1px;
}

.employment .role,
.education .course {
  font-size: 18px;
  font-weight: bold;
}

.employment .organisation,
.education .university {
  font-size: 18px;
  font-weight: 500;
}

.landscape {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #397e86;
}

.org-description {
  font-size: 14px;
  color: #696969;
}

.employment .contact {
  font-size: 14px;
}

.employment .label {
  color: #397e86;
}

.bold {
  margin-top: 10px;
  color: #397e86;
}

.tasks {
  margin-bottom: 10px;
}

.skills {
  padding: 0 18px;
}

.subject {
  display: inline-block;
  width: 50%;
}

.project {
  margin-top: 10px;
}

.achievement {
  margin-bottom: 10px;
}
